.filter {
  position: absolute;
  left: 10.73%;
  right: 65.1%;
  top: 11.85%;
  bottom: 69.48%;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #4A4A4A;
}

.text {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 20px;
  top: 20px;
}

.textAll {

  position: absolute;
  width: 192px;
  height: 12px;
  left: 50px;
  top: 52px;
  
 
}

.textNoTrans {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 50px;
  top: 92px;
  
 
}

.textOneTrans {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 50px;
  top: 132px;
  
 
}

.textTwoTrans {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 50px;
  top: 172px;
  

}

.textThreeTrans {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 50px;
  top: 212px;
  

}

