@import url(https://fonts.google.com/?query=open+san&selection.family=Open+Sans);

body {
  position: relative;
  width: 960px;
  height: 1350px;
  background: #F3F7FA;
}

.logo {
  position: absolute;
  left: 46.88%;
  right: 46.88%;
  top: 3.7%;
  bottom: 91.85%;



 /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px; */
}

.filter {
  position: absolute;
  left: 10.73%;
  right: 65.1%;
  top: 11.85%;
  bottom: 69.48%;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


.filtertext {
  position: absolute;
  width: 192px;
  height: 12px;
  left: 123px;
  top: 180px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
/* identical to box height, or 100% */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #4A4A4A;
}

.checkboxAll {
  position: absolute;
  left: 12.81%;
  right: 85.1%;
  top: 15.7%;
  bottom: 82.81%;

  border: 1px solid #9ABBCE;
  box-sizing: border-box;
  border-radius: 2px;
}

.tabs {
  position: absolute;
  width: 503px;
  height: 50px;
  left: 355px;
  top: 160px;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticket1 {
  position: absolute;
  left: 355px;
  right: 103px;
  top: 230px;
  bottom: 936px;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}